/* menu.css */
.sub-menu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #333;
    width: 100%;
    padding: 15px 0;
  }
  
  .sub-menu-item {
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 14px;
  }
  
  .sub-menu-item:hover {
    background-color: #555;
  }
  